h1 {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
    border: 4px solid #000;
    border-radius: 20px;
    box-shadow: 6px 6px 25px -10px rgba(0,0,0,0.75);
    padding: 10px;
}

.card:hover {
    padding: 20px;
}

/* 
.todo-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 48px;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
} */

#photo {
    width: 250px;
    height: 250px;
    margin: 20% 0%;
}

#resume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    cursor: pointer;
    margin: 10px;
    height: 50px;
    background-size: 300% 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    
    text-transform: capitalize;
    
    border-radius: 50px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
    background-image: linear-gradient(109.6deg, rgba(79, 148, 243, 0.73) 11.2%, rgba(140, 105, 193, 0.87) 91.2%);
    -webkit-box-shadow: 10px 6px 25px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 25px -10px rgba(0,0,0,0.75);
}

#resume-button:hover {
    background-position: 100% 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}